@charset "UTF-8";

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	color: #555;
}

/* Menu */
#menu {
	margin: 0px;
	padding: 10px;
	position: fixed;
	width: 70px;
	line-height: 40px;
}
	#menu button {
		width: 36px;
		-webkit-transition: width 0.5s, -webkit-transform 0.5s;
	    transition: width 0.5s, transform 0.5s;
	    text-align: left;
	}
		#menu button:hover {
			width: 100px;
			text-align: left;
		}
		#menu button span {
			margin-left: 15px;
			display: none;
		}
	#menu button.selected {
		color: #ffffff; 
		background-color: #353535; 
		border-color: #353535; 
	}

/* Scroll Button */
#scroll {
	position: fixed;
	top: 50%;
	right: 0px;
	margin-top: -60px;
	padding-right: 10px;
}
	#scroll button {
		clear: both;
		display: block;
		margin-bottom: 20px;

		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
	}
	#scroll button:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	#scroll #scroll-up {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
	}

/* Content Section */
#content {
	padding-top: 15px;
}
#intro, #skill, #exp, #project {
	width: 100%;
	padding: 0 70px 60px 70px;
}
	#intro i, #skill i, #exp i, #project i {
		margin-right: 7px;
	}

/* Home Page */
.alert-dismissible {
	margin-right: 10px;
	width: 400px;
}

#skill, footer {
	padding-top: 40px;
	background-image: linear-gradient( #595959, #777777 );
	color: #ffffff;
	box-shadow: 0 0 20px #595959;
}

#skill {}
	#skill .panel {
		margin-top: 40px;
		color: #555;
	}
		#skill .panel h3 { margin: 10px 20px; }
	#skill .panel-body { padding: 20px; }


#exp { padding-top: 40px; }
	#exp .panel { margin-top: 40px; }
	#exp .panel-body h3 { margin: 10px 0; }
		#exp .panel-body h3 small { margin-left: 10px; }
	#exp .panel-footer { padding: 30px 20px; }

/* Project Page */
#project {}
	#project .project-entry {
		margin: 30px 0;
		text-align: center;
	}
		#project .project-entry .thumbnail {
			padding-top: 20px;
		}
		#project .project-entry img {
			width: 200px;
			height: 200px;
		}

/* Blog Page */
#blog {
	width: 100%;
	text-align: center;
}

/* Footer */
footer {
	font-size: 12px;
	text-align: center;
	padding-bottom: 30px;
}




/* Circle Hover */
.ch-grid {
    list-style: none;
    display: block;
    margin: 40px 0;
}

/* Clearfix hack */
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}


.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 10px 0 #e6e6e6, 
    			inset 0 0 0 10px #e6e6e6, 
    			0 0 15px rgba(0,0,0,0.7);
    transition: all 0.4s ease-in-out;
    background-color: #595959;

}

.ch-info, .ch-item h3 {
	width: 100%;
    height: 100%;
	transition: all 0.4s ease-in-out;
	backface-visibility: hidden;
	text-align: center;
}

.ch-info {
	position: absolute;
    border-radius: 50%;

    overflow: hidden;
    

    opacity: 0;
    transform: scale(0);
}
.ch-item h3 {
	position: absolute;
    color: #e6e6e6;
    text-transform: uppercase;
    font-size: 22px;
    padding: 80px 0 0 0;
    text-shadow: 0 0 10px #e6e6e6, 0 0 20px rgba(255,255,255,0.3)

    opacity: 1;
    transform: scale(1);
}
 
.ch-info p {
    color: #555;
    padding: 5px;
    margin: 25px;
    font-size: 14px;
}
 
.ch-item:hover {
    box-shadow: inset 0 0 10px 0 #595959, 
    			inset 0 0 0 10px #595959, 
    			0 0 15px rgba(0,0,0,0.7);
    background-color: #e6e6e6;
}
.ch-item:hover h3 {
	opacity: 0;
	transform: scale(0);
}
.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
}

.ch-item #aboutme {
	margin-top: 30px;
}
.ch-item #education {
	margin-top: 50px;
}
.ch-item #contact {
	margin-top: 50px;
}